<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
   {{>navbar}}

   <!-- main header -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side se div -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="./images/w2.png" alt="image of shuham sonkar" class="img-fluid" title="shubham sonkar">
                    </figure>

                </div>

                <!-- right side se div -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather App</p>
                    <h1>I AM A <span class="text-clr">Mern Stack Developer</span> And PenTester</h1>
                    <a href="https://www.linkedin.com/in/shubham-sonkar-22039a151?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B0zC2Lv3fTrOKrVY6cKn3FQ%3D%3D" target="_blank"><button>About me</button></a>

                </div>

            </div>

            </div>
            </div>
            </div>
<!-- footer -->
{{>footer}}
   
</body>
</html>