<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
   {{>navbar}}

   <!-- main header -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side se div -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class ="error">
                        <img src="./images/404.png" alt="image of shuham sonkar" class="img-fluid" title="shubham sonkar">
                    </figure>
                    <p>Welcome To Technical World</p>
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Back To Home</button></a>
               </div>

            </div>

            </div>
            </div>
            </div>
<!-- footer -->
{{>footer}}
   
</body>
</html>